/* Стилі елементів HTML */

body {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 14px;
  color: #626262;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

/* Класи елементів */

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  width: 100%;
}

/* Mobile 480+ */

@media screen and (min-widht: 480px) {
  .container {
    width: 480px;
  }
}

/* Tablet 768+ */

@media screen and (min-widht: 768px) {
  .container {
    width: 768px;
  }
}

/* Desktop 1200+ */

@media screen and (min-widht: 1200px) {
  .container {
    width: 1200px;
  }
}

/* Меню навігації */

@media screen and (max-width: 767px) {
  .mobile-container {
    position: relative;
    padding: 80px;
  }

  .nav {
    display: none;
  }

  .menu-button {
    background-color: transparent;
    border: none;
    padding: 16px;
  }

  .menu-button-close {
    position: absolute;
    top: 0;
    left: 0;
    padding: 16px;
    background-color: transparent;
    border: none;
  }

  .mobile-menu {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: #e5e5e5;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateX(-100%);
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
    transition: opacity 250ms ease-in, transform 250ms ease-in;
  }

  .mobile-nav-list-item:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }

  .menu-button {
    display: none;
  }
}

.nav {
  margin-top: 70px;
  margin-bottom: 90px;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list-item:not(:last-child) {
  margin-right: 100px;
}

.nav-list-item:hover,
.nav-list-item:focus {
  color: #03a9f4;
}

/* Секція Main */

.main-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 130px 65px;
}

.main-item {
  flex-basis: calc((100% - 65px) / 2);
}

.main-img {
  margin-bottom: 62px;
}

.main-category {
  font-family: "Ubuntu";
  font-weight: 300;
  line-height: 16px;
  color: #b4ad9e;
  margin-bottom: 32px;
}

.main-list-title {
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  color: #626262;
  margin-bottom: 40px;
}

.main-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #626262;
  width: 420px;
}

/* button */
.button {
  width: 165px;
  height: 60px;
  border: 1px solid #626262;
  margin-top: 94px;
  margin-bottom: 66px;
}

.btn {
  display: flex;
  justify-content: center;
}
